@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
}

@layer components {
  .card {
    @apply rounded-lg p-8 shadow-2xl;
  }

  .card-container-name {
    @apply mb-4 inline-grid grid-cols-[40px_1fr] gap-x-4 gap-y-0;
  }

  .card-photo {
    @apply row-span-2 h-10 w-10 rounded-full border-2 border-white/50;
  }

  .card-name {
    @apply font-bold;
  }

  .card-edu {
    @apply text-white/50;
  }

  .card-info {
    @apply mb-4 text-2xl font-bold;
  }

  .card-description {
    @apply font-bold text-white/50 before:content-['“'] after:content-['“'];
  }
}
